form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:0;
    border-color: rgb(29, 82, 78);
}

img{
    position: inherit;
    width:50%;
    margin: 12%;
}

input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: rgb(103, 223, 215);
    border-radius: 0;
    color: white;
    border-bottom: 1px solid rgb(29, 82, 78);
    margin: 0px; 
}

.container-fluid{
    background-color: rgb(103, 223, 215);
    height: 100vh;
}
input::placeholder{
    color: rgb(29, 82, 78);
    font-family: "Harrington";
    text-align: left;
}
.form-control{
border: none;
background-color: white;
color: white;
border-bottom: 1px solid white;
}

.login{
border: none;
background-color: darkorange;
color: white;
border: 1px solid white;
border-radius: 2px;
padding-top: 10px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

.button {
    text-align: center;
    cursor: pointer;
    outline: none;
    color: darkslategrey;
    background-color: blue;
    border: none;
}

p{
font-size: 14px;
color: white;
}